<div class="row">
	<div class="col-xs-12">
		<h1>{{ task.name }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="btn-group"
		appDropdown>
			<button class="btn btn-primary dropdown-toggle">Manage Task</button>
			<ul class="dropdown-menu">
				<li><a (click)="onEditTask()" style="cursor: pointer">Edit Task</a></li>
				<li><a (click)="onDeleteTask()" style="cursor: pointer">Delete Task</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		{{ task.description }}
	</div>
</div>
