<div class="row">
	<div class="task-view-header">
		<div class="task-view-header__title">
			<h1>Tasks</h1>
		</div>
		<div class="task-view-header__button">
			<button mat-button color="primary" class="create-list-dialog-button-add"
				(click)="createNewTask()">
				<mat-icon>add</mat-icon>
				Create new task
			</button>
		</div>
	</div>
	<table mat-table [dataSource]="taskSource" matSort (matSortChange)="announceSortChange($event)">
		<ng-container matColumnDef="index">
			<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by task number"> Task no. </th>
			<td mat-cell *matCellDef="let task"> {{task.index + 1}} </td>
		</ng-container>

		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
			<td mat-cell *matCellDef="let task"> {{task.name}} </td>
		</ng-container>
	
		<ng-container matColumnDef="description">
			<th mat-header-cell *matHeaderCellDef> Description </th>
			<td mat-cell *matCellDef="let task"> {{task.description}} </td>
		</ng-container>
	
		<ng-container matColumnDef="status">
			<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status"> Status </th>
			<td mat-cell *matCellDef="let task"> {{task.status.viewValue}} </td>
		</ng-container>

		<ng-container matColumnDef="edit">
			<th mat-header-cell *matHeaderCellDef> Edit </th>
			<td mat-cell *matCellDef="let task">
				<button mat-icon-button (click)="editTask(task, task.index)" attr.aria-label="Edit task {{task.name}}">
					<mat-icon color="primary">edit</mat-icon>
				</button>
			</td>
		</ng-container>
	
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</div>
