.edit-task-dialog {
	&-status-row {
		display: flex;
		justify-content: space-between;
	}
	&-description-row {
		padding-top: 2rem;
		display: flex;
	}
}

.edit-task-dialog-container-task-group {
	&__name,
	&__desc {
		width: 30rem;
	}

	.edit-task-dialog-legend {
		border-bottom: 0;
	}

}

.error-list {
	display: flex;
	color: #f44336;
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
	p {
		margin: 0 0 0 0.5rem;
	}
}