<div class="row" style="display: flex; align-items: flex-end; margin-bottom: 10px;">
	<div class="col-xs-6">
		<h2>{{ list.name }}</h2>
	</div>
	<div class="col-xs-3">
		<div class="btn-group" appDropdown>
			<button class="btn btn-primary dropdown-toggle">Manage List</button>
			<ul class="dropdown-menu">
				<li><a (click)="onAddToListOfTasks()" style="cursor: pointer">To Task List</a></li>
				<li><a (click)="onEditList()" style="cursor: pointer">Edit List</a></li>
				<li><a (click)="onDeleteList()" style="cursor: pointer">Delete List</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="row" style="padding: 20px 20px">
	<h3>Tasks</h3>
	<ul class="list-group" style="list-style: none;">
		<li *ngFor="let task of list.tasks; let i = index" style="margin-bottom: 10px;">
			<a class="list-group-item">
				<div class="row">
					<dl>
					<div class="col-xs-5" style="margin-bottom: 5px;">
						<dt>Name</dt>
						<dd>{{task.name}}</dd>
					</div>
					<div class="col-xs-5">
						<dt>Status</dt>
						<dd>{{task.status}}</dd>
					</div>
					<div class="col-xs-12">
						<dt>Description</dt>
						<dd>{{task.description}}</dd>
					</div>
					</dl>
				</div>
			</a>
		</li>
	</ul>
</div>
