<div class="create-task-dialog-container">
	<mat-dialog-content>
		<form [formGroup]="form">
			<fieldset class="create-task-dialog-container-task-group">
				<legend class="create-task-dialog-legend">Create Task</legend>
				<div class="create-task-dialog-status-row">
					<div class="create-task-dialog-status-row__name">
						<mat-form-field appearance="outline">
							<mat-label>Name</mat-label>
							<input matInput placeholder="Task name" formControlName="name">
						</mat-form-field>
						<div *ngIf="form.get('name')?.invalid && form.get('name').touched" class="error-list">
							<mat-icon color="accent">warning</mat-icon>
							<div id="errorMsgListName">
								<p *ngIf="form.get('name').errors?.['required']">
									Task name is required
								</p>
							</div>
						</div>
					</div>
					<mat-form-field appearance="outline" class="create-task-dialog-container-task-group__desc">
						<mat-label>Status</mat-label>
						<mat-select name="status" formControlName="status">
							<mat-option *ngFor="let option of options; let i = index" [value]="option">{{option.viewValue}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="create-task-dialog-description-row">
					<mat-form-field appearance="outline">
						<mat-label>Description</mat-label>
						<textarea matInput placeholder="Describtion of a task" formControlName="description"></textarea>
					</mat-form-field>
				</div>
		</fieldset>
	</form>
	</mat-dialog-content>
	<mat-dialog-actions [align]="'end'" class="dialog-actions-container">
		<button mat-button mat-stroked-button
			(click)="close()">
			Cancel
		</button>
		<button mat-button  mat-flat-button
			color="primary"
			(click)="save()"
			[disabled]="!form.valid">
			Save
		</button>
	</mat-dialog-actions>
</div>
