<div class="edit-list-dialog-container">
	<h2 mat-dialog-title>Edit {{ this.data.list.name }} list</h2>
	<mat-dialog-content>
		<form [formGroup]="form">
			<mat-form-field appearance="outline">
			<mat-label>List name (required)</mat-label>
			<input matInput placeholder="name" formControlName="name" #title>
		</mat-form-field>

		<fieldset class="edit-list-dialog-container-task-group">
			<legend class="edit-list-dialog-legend">List tasks</legend>
			<div formArrayName="tasks">
				<div *ngFor="let task of tasks.controls; let i = index" [formGroupName]="i">
					<mat-divider class="edit-list-dialog-divider"></mat-divider>
					<div class="edit-list-dialog-status-row">
						<mat-form-field appearance="outline" class="edit-list-dialog-container-task-group__name">
							<mat-label>Name</mat-label>
							<input matInput placeholder="Task name" formControlName="name">
						</mat-form-field>
						<mat-form-field appearance="outline">
							<mat-label>Status</mat-label>
							<mat-select name="status" formControlName="status">
								<mat-option *ngFor="let option of options; let i = index" [value]="option">{{option.viewValue}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="edit-list-dialog-button-row">
						<mat-form-field appearance="outline" class="edit-list-dialog-container-task-group__desc">
							<mat-label>Description</mat-label>
							<textarea matInput placeholder="Describtion of a task" formControlName="description"></textarea>
						</mat-form-field>
						<button mat-mini-fab aria-label="Delete Task" (click)="onDeleteTask(i)">
							<mat-icon aria-hidden="true">delete</mat-icon>
						</button>
					</div>
				</div>
			</div>
			<button mat-button color="primary" class="create-list-dialog-button-add"
			(click)="onAddTask()">
			<mat-icon>add</mat-icon>
			Add Task
	</button>
		</fieldset>
		</form>


	</mat-dialog-content>
	<mat-dialog-actions [align]="'end'" class="dialog-actions-container">
		<button mat-button mat-stroked-button
			(click)="close()">
			Cancel
		</button>
		<button mat-button  mat-flat-button
			color="primary"
			(click)="save()"
			[disabled]="!form.valid">
			Save
		</button>
	</mat-dialog-actions>
</div>
