.edit-list-dialog-container-task-group {
	&__name,
	&__desc {
		width: 30rem;
	}

	.edit-list-dialog-divider {
		margin-bottom: 2rem;
	}

}

.edit-list-dialog-status-row {
	display: flex;
	justify-content: space-between;
}