input.ng-invalid.ng-touched,
input.ng-invalid.ng-touched,
text-area.ng-invalid {
	border: 1px solid red;
}
.errorMsg {
color: red;
display: inline-block;
}
.radio-button-group-legend {
	font-weight: 700;
	font-size: 14px;
	display: inline;
	border: none;
	margin-bottom: 5px;
}
.required {
	font-weight: 400;
	padding-left: 10px;
}