<div class="row">
	<div class="col-xs-12">
		<form (ngSubmit)="onSubmit(f)" #f="ngForm">
			<fieldset>
				<legend>{{ editMode ? 'Update Task' : 'Create Task'}}</legend>
				<div class="row">
					<div class="col-sm-5 form-group">
						<label for="name">Name<span class="required">(required)</span></label>
						<input 
							type="text" 
							id="name" 
							class="form-control"
							name="name"
							[attr.aria-invalid]="name.invalid"
							aria-describedby="errorMsgName"
							placeholder="{{editMode ? this.editedItem.name : 'Your task name'}}"
							ngModel
							required
							#name="ngModel">
							<div *ngIf="name.invalid && name.touched"
								id="errorMsgName" class="errorMsg">
								Task name is required
							</div>
					</div>
					<div class="col-sm-5 form-group">
						<label for="desc">Description<span class="required">(required)</span></label>
						<input 
							type="text" 
							id="desc" 
							class="form-control"
							aria-describedby="errorMsgDesc"
							[attr.aria-invalid]="desc.invalid"
							name="desc"
							placeholder="{{editMode ? this.editedItem.description : 'Your task description'}}"
							ngModel
							required
							#desc="ngModel">
							<div *ngIf="desc.invalid && desc.touched" id="errorMsgDesc" class="errorMsg">
							Task description is required
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 form-group">
						<fieldset>
							<legend class="radio-button-group-legend">Task Status<span class="required">(required)</span></legend>
							<div *ngFor="let option of options; let i = index">
								<label for="{{option.id}}">
									<input 
										type="radio" 
										[(ngModel)]="selectedOption"
										name="options"
										[attr.aria-invalid]="!selectedOption"
										[id]="option.id"
										[value]="option.value"
										required 
										#options="ngModel"/>
									{{ option.value }}
								</label>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 confirm-button-group">
						<button class="btn btn-secondary" type="button" (click)="onClear()">Clear</button>
						<button 
							*ngIf="editMode"
							class="btn btn-danger" 
							type="button"
							(click)="onDelete()">Delete</button>
						<button 
							class="btn btn-primary" 
							type="submit" 
							[disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
					</div>
				</div>
		</fieldset>
		</form>
	</div>
</div>
