<div class="row" *ngIf="observer | async">
	<div class="col-xs-12">
		<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="list-group-item" style="padding: 20px 20px 50px 20px;">
			<fieldset>
				<legend style="font-size: 36px; margin-top: 25px; margin-bottom: 10px; border-bottom: none;">{{ this.listName ? this.listName : 'List'}}</legend>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="name">List name<span class="required">(required)</span></label>
							<input
								type="text"
								id="name"
								aria-describedby="errorMsgListName"
								formControlName="name"
								class="form-control">
								<p *ngIf="!taskForm.get('name')?.valid && taskForm.get('name').touched" id="errorMsgListName" class="errorMsg">
									<ng-container *ngIf="taskForm.get('name')?.errors?.['required']">
										List name is required
									</ng-container>
									<ng-container *ngIf="taskForm.get('name')?.errors?.['pattern']">
										List name is must only contain characters from a-Z and numbers
									</ng-container>
									<ng-container *ngIf="taskForm.get('name')?.errors?.['matchingListName']">
										List name already exists
									</ng-container>
								</p>
						</div>
					</div>
				</div>
				<fieldset>
					<legend class="task-group-legend">Tasks</legend>
						<div class="col-xs-12" formArrayName="tasks">
							<div class="row" style="margin-bottom: 5px"
								*ngFor="let taskCtrl of controls; let i = index"
								[formGroupName]="i">
								<div class="col-xs-8">
									<input type="text" 
										class="form-control"
										formControlName="name">
								</div>
								<div class="col-xs-2">
									<button 
										type="button" 
										class="btn btn-danger"
										aria-label="Delete"
										(click)="onDeleteTask(i)">
										<i class="bi bi-x-lg" aria-hidden="true"></i>
									</button>
								</div>
							</div>
							<div class="row" style="margin-top: 10px">
								<div class="col-xs-12">
									<button 
										type="button" 
										class="btn btn-primary" 
										(click)="onAddTask()">
										<i class="bi bi-plus-square" aria-hidden="true"></i>
										Add Task
									</button>
								</div>
							</div>
						</div>
				</fieldset>
				<hr>
				<div class="row">
					<div class="col-xs-12">
						<div class="confirm-button-group">
							<button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
							<button type="submit" 
							class="btn btn-primary"
							[disabled]="!taskForm.valid">Save</button>
						</div>
					</div>
				</div>
		</fieldset>
		</form>
	</div>
</div>
